In [6]:
import sqlite3
import pandas as pd

<h2><b><i>Create Connection</i></b></h2>
<p><i>Creating a connection</i></p>

<p><i>Create connection with pandas</i></p>

In [27]:
conn = sqlite3.connect('INSTRUCTOR.db')
cursor_obj = conn.cursor()

In [28]:
df = pd.read_sql_query('SELECT * FROM Instructor;', conn)

#print the results
df

Empty DataFrame
Columns: [id, fname, lname, city, code]
Index: []