In [5]:
import sqlite3

In [6]:
conn = sqlite3.connect('INSTRUCTOR.db')

In [7]:
cursor_obj = conn.cursor()

In [9]:
cursor_obj.execute('DROP TABLE IF EXISTS Instructor')

<h2><i><b>Creating table query</b></i></h2>
<p>Create a table query and call it to the cursor and excute it</p>

In [10]:
table = """CREATE TABLE IF NOT EXISTS Instructor (
                    id INTEGER PRIMARY KEY NOT NULL,
                    fname VARCHAR(20),
                    lname VARCHAR(20),
                    city VACHAR(20),
                    code CHAR(2)
                    )"""
cursor_obj.execute(table)
print("Table is ready")

Table is ready

<p><b><i>Inserting data into table</i></b></p>